{{>header}}

<script src="/socket.io/socket.io.js"></script>

You are user: {{ user._id }}
<a href="/logout" class="btn btn-default btn-sm">Logout</a>

<div id="post-display"></div>

<form>
    <label>Submit</label>
    <textarea id="message-out"></textarea>
    <button id="submit-post" type="button" value="send-post">Post</button>
</form>

<script>
var sid = '{{ user._id }}'
var messageOut = document.getElementById('message-out');
var posts = document.getElementById('post-display');
var submit = document.getElementById('submit-post');
var socket = io.connect('http://localhost:8888');

socket.emit('connect')

socket.on('update-tiles', function(data){
  posts.innerHTML += '<p><b>'+data.uid+'</b>'+data.message+'</p>'
});

submit.addEventListener('click', function() {
  var post = {uid: sid, message: messageOut.value.toString()};
  console.log(post);
  socket.emit('send-post', post);
}, false);

messageOut.addEventListener('keypress', function (e) {
  var key = e.which || e.keyCode;
  if (key == 13) { // 13 is enter
    submit.click();
  }
});
</script>

{{>footer}}
